html {
  height: 100%;
  color: #333;
  font: 16px/1.4 'Libre Baskerville', serif;
  display: grid;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  background-color: #ebd0bd;
}

a {
  color: #e3695f;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

p {
  margin: 1em 0;
}

/* structure */
h1 {
  font-size: 2.8em;
  letter-spacing: 5px;
  margin: 0.5em 0 0 0;
}
.title {
  text-align: center;
  font-size: 2.6em;
}

@media screen and (max-width: 700px) {
  .read-more {
    float: none;
    display: block;
    margin: 0 0 1em;
    line-height: 1.2;
  }
}

@media screen and (max-width: 540px) {
  body {
    /* padding: 20px; */
    /*font-size: 0.875em;*/
  }

}
