html {
  background: #fff;
  color: #333;
  font: 16px/1.4 Open Sans, Helvetica, Arial, sans-serif;
}

body {
  max-width: 720px;
  padding: 20px 40px;
  margin: 0 auto;
}

a {
  color: #e3695f;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1,
h2 {
  line-height: 1.2;
  font-family: 'Source Sans Pro', sans-serif;
}

p {
  margin: 1em 0;
}

/* structure */

.site-box {
  padding: 40px 60px 0;
  background: #F5F5F5; /* the most refreshing color! */
  box-shadow: 2px 4px 6px 1px rgba(50, 50, 50, 0.14);
}

.title {
  text-align: center;
  font-size: 2.6em;
}





@media screen and (max-width: 700px) {
  .read-more {
    float: none;
    display: block;
    margin: 0 0 1em;
    line-height: 1.2;
  }
}

@media screen and (max-width: 540px) {
  body {
    padding: 20px;
    /*font-size: 0.875em;*/
  }

  .site-box {
    padding: 30px;
  }

  .cta-option {
    margin-left: 0;
    margin-right: 0;
  }

  .share-bar {
    margin-left: -30px;
    margin-right: -30px;
    text-align: center;
  }

  .share-opt {
    float: none;
    display: inline-block;
    margin: 0 1em 0.5em;
  }
}
